.about-clients {
  padding-top: 118px;
  padding-bottom: 180px;
  background-color: var(--color-white);

  &__partners-list {
    margin-bottom: 112px;
  }

  &__descr {
    margin-bottom: 60.1px;
  }

  &__title {
    margin-bottom: 24px;
  }
}