.about {
  padding: 120px 0;
  background-color: var(--color-white);

  &__section-title {
    margin-bottom: 24px;
  }

  &__section-descr {
    margin-bottom: 60px;
    text-align: center;
  }

  &__video-block {
    width: 100%;
    height: 500px;
  }
}