.application-form {
  &__title {
    margin-bottom: 24px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__check-option {
    padding-left: 27px;

    &--input {
      appearance: none;
      position: absolute;

      &:checked + .application-form__check-option--text {
        background-image: url("@img/svg/checkbox/checked.svg");
        background-repeat: no-repeat;
      }

      &:focus {
        outline: none;
        border: none;
      }

      &:focus-visible {
        margin-top: 8px;
        outline: 3px solid var(--color-primary-state);
        outline-offset: 9.7px;
        border-radius: 4px;
        transform: translateX(-19px);
      }
    }

    &--text {
      position: absolute;
      width: 16px;
      height: 16px;
      margin-left: -27px;
      background-image: url("@img/svg/checkbox/plate.svg");
      background-repeat: no-repeat;
      background-color: var(--color-white);
    }
  }
}
