.benefits {
  padding-top: 80px;
  background: var(--color-grey--900);

  &__section-title {
    margin-bottom: 24px;
  }

  &__section-descr {
    margin-bottom: 60px;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
  }

  &__btn {
    position: relative;
    top: 26px;
    display: block;
    margin: 0 auto;
    padding: 0 112px;
    cursor: pointer;
  }
}

.serv-offer-features-list {
  margin-bottom: 74px;

  &__item {

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 3px solid var(--color-white);
      outline-offset: 22px;
      border-radius: 4px;
    }
  }
}
