.benefits {
  padding-top: 133px;
  padding-bottom: 76px;
  background: var(--color-grey--900);

  &__section-title {
    margin-bottom: 24px;
  }

  &__section-descr {
    margin-bottom: 60px;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
  }

  &__btn {
    position: relative;
    top: 100px;
    padding: 0 112px;
    cursor: pointer;
  }
}
