.cv-form {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 486px;
  border: 1px solid;
  border-color: var(--color-grey--300);
  border-radius: 4px;
  padding: 48px;
  box-shadow: 0 60px 80px -20px rgb(30 33 44 / 16%),
    0 26px 24px -10px rgb(30 33 44 / 10%), 0 12px 10px -6px rgb(30 33 44 / 8%),
    0 4px 4px -4px rgb(30 33 44 / 5%);
  background-color: #fff;
  transform: transition(-50%, -50%);

  // opacity: 0;
  // visibility: hidden;
  &__close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
  }

  &__title {
    margin-bottom: 26px;
  }

  option {
    font-family: "Ubuntu";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-grey--600);
  }
}

&__btn {
  padding: 0 175px;
}

&__content {
  margin-bottom: 40px;
}

&__input {
  border: 1px solid var(--color-grey--400);
  border-radius: 4px;
  padding: 11px 16px 12px;
  background-color: var(--bg-color-grey--200);

  &:focus {
    outline: none;
    border: none;
  }

  &:focus-visible {
    margin-top: 8px;
    outline: 3px solid var(--color-primary-state);
    outline-offset: 9.7px;
    border-radius: 4px;
    transform: translateX(-19px);
  }
}

.atachment-btn-basic {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}

.atachment-btn {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 12px;
  align-items: center;
  margin-bottom: 20px;

  &__icon {
    position: absolute;
    top: 17px;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url("@img/svg/Attach.svg");
    cursor: pointer;
  }

  &__text {
    margin-left: 36px;
    padding-top: 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-grey--800);
  }
}
