.design-offer {
  padding: 120px 0 180px;

  &__container {
    display: flex;
    column-gap: 105px;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__img {
    flex: 1;
    color: var(--color-primary);
  }

  &__title {
    margin-bottom: 60px;
  }

  &__content {
    position: relative;
    flex: 1;
  }

  &__item {
    padding: 0 0 0 45px;
  }

  &__header {
    margin-bottom: 12px;
    &:focus {
      outline: none;
      border: none;
    }

    &:focus-visible {
      outline: 3px solid var(--color-grey--900);
      outline-offset: 2px;
      border-radius: 1px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0px;
      width: 24px;
      height: 24px;
      margin: -75px 0 0 0;
      border-radius: 100%;
      background-image: url("@img/svg/plus.svg");
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }

  &__item[open] &__header::after {
    background-image: url("@img/svg/minus.svg");
    background-repeat: no-repeat;
  }

  &__descr {
    margin-bottom: 24px;
  }
}
