.features-list {
  --grid-column-gap: 186px;
  --card-width: 285px;
  --card-pt: 72px;
  --divider-exist: block;
  --outline-card-color: var(--color-grey--900);
  --background-features-list-color: var(--color-white);

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, auto));
  column-gap: var(--grid-column-gap);
  row-gap: 50px;
  justify-content: center;
  justify-items: center;

  &__item {
    position: relative;

    &:not(:nth-child(3n)) {
      ::after {
        content: "";
        position: absolute;
        top: 0;
        right: calc(var(--grid-column-gap) / 2 * -1);
        display: var(--divider-exist);
        width: 1px;
        height: 100%;
        background-image: url("../assets/img/svg/divider.svg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  &__link {
    width: var(--card-width);
    padding-top: var(--card-pt);
    background-position: top center;
    background-size: 48px 48px;
    background-repeat: no-repeat;
    transition: transform 0.2s ease-in-out;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 3px solid var(--outline-card-color);
      outline-offset: 22px;
      border-radius: 4px;
    }

    &:hover {
      transform: scale(1.16);
    }

    &--quality {
      background-image: url("../assets/img/bg/like.svg");
    }

    &--safety {
      background-image: url("../assets/img/bg/hand.svg");
    }

    &--comfort {
      background-image: url("../assets/img/bg/slippers.svg");
    }

    &--clients {
      background-image: url("../assets/img/bg/like-grey.svg");
    }

    &--apartments {
      background-image: url("../assets/img/bg/painting-grey.svg");
    }

    &--specialists {
      background-image: url("../assets/img/bg/helmet-grey.svg");
    }

    &--finishing-work {
      --card-width: 251px;

      position: relative;
      background-image: url("../assets/img/bg/pantone-grey.svg");
    }

    &--cost {
      background-image: url("../assets/img/bg/ic-contract.svg");
    }

    &--workers {
      background-image: url("../assets/img/bg/ic-helmet.svg");
    }

    &--control {
      background-image: url("../assets/img/bg/ic-camera.svg");
    }
  }

  &__heading {
    margin-bottom: 8px;
  }
}

.features-list--page-about {
  --grid-column-gap: 86px;
  --card-width: 240px;
  --card-pt: 70px;
  --divider-exist: none;
}

.math-pow {
  position: relative;
  top: -6px;
  font-size: 45px;
}

.features-list--page-serv-offer {
  --outline-card-color: var(--color-white);
}
