.form-field {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  cursor: pointer;

  &__caption {
    &--large {
      font-family: "Ubuntu";
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 1.6;
      color: var(--color-grey--800);
    }

    &--regular {
      font-size: 14px;
      line-height: 1.5;
    }

    &--small {
      font-size: 12px;
      line-height: 1.5;
    }

    &--grey-600 {
      color: var(--color-grey--600);
    }
  }

  &__input {
    width: 100%;
    border: 1px solid var(--color-grey--400);
    border-radius: 4px;
    background: var(--bg-color-grey--200);

    &--large {
      padding: 13px 16px;
    }

    &--regular {
      padding: 11px 16px 12px;
    }

    &--small {
      padding: 9px 12px;
    }

    &--message {
      padding: 11px 16px 34px;
    }
    &--comment {
      padding: 13px 16px 61px;
    }
    &--contact {
      padding: 13px 16px 63px;
    }
    &--letter {
      padding: 11px 16px 54px;
    }
  }

  &__btn {
    display: flex;
    margin: 0 auto;
  }

  &--message {
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  }
}

.input {
  border: 1px solid var(--color-grey--400);
  border-radius: 4px;
  padding: 11px 16px 12px;
  background: var(--bg-color-grey--200);

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-grey--600);
  }

  &:focus {
    outline: 1px solid rgba($color: #ff5a30, $alpha: 40%);
    border-radius: 4px;
    box-shadow:
      0 80px 80px -20px rgb(255 90 48 / 8%),
      0 30px 24px -10px rgb(255 90 48 / 5%),
      0 12px 10px -6px rgb(255 90 48 / 4%),
      0 4px 4px -4px rgb(30 33 44 / 3%);
    background-color: var(--color-white);
  }

  &--large {
    padding: 13px 16px;

    &::placeholder {
      font-size: 16px;
      line-height: 160%;
    }
  }

  &--small {
    padding: 9px 12px;

    &::placeholder {
      font-size: 12px;
    }
  }

  &--light {
    border-color: rgba($color: #fff, $alpha: 20%);
    color: var(--color-white);
    background-color: rgba($color: #fff, $alpha: 12%);
    transition: all 0.02s linear;

    &::placeholder {
      color: inherit;
      opacity: 0.6;
    }

    &:focus {
      outline: 1px solid rgba($color: #1e212c, $alpha: 40%);
      border-width: 1px;
      border-color: rgba($color: #fff, $alpha: 30%);
      border-radius: 4px;
      box-shadow: none;
      background-color: #22252e;
    }
  }
}
