.go-to-top {
  position: absolute;
  right: 341px;
  bottom: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  column-gap: 16px;

  &__title {
    text-transform: uppercase;
    color: var(--color-white);
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    transition: all 0.18s ease-in-out;
  }

  &__icon {
    width: 48px;
    height: 48px;
    fill: var(--color-white);
    background-color: var(--color-primary);

    &:hover {
      width: 48px;
      height: 48px;
      border: none;
      border-radius: 4px;
      background-color: var(--color-primary-state);
      transform: rotate(-90deg);
      transition: all 0.18s ease-in-out;
    }
  }
}

