.go-to-top {
  position: absolute;
  right: 346px;
  bottom: 82px;
  display: flex;
  column-gap: 16px;
  align-items: flex-end;
  justify-content: center;
  width: min-content;

  &__title {
    text-transform: uppercase;
    color: var(--color-white);
  }

  &__arrow {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    transition: all 0.18s ease-in-out;
  }

  &__icon {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    padding: 15px 12px 16px;
    fill: var(--color-white);
    background-color: var(--color-primary);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 3px solid var(--color-white);
    outline-offset: 5px;
    border-radius: 1px;
  }

  &:hover {
    text-decoration: underline;
    color: var(--color-white);
  }
}
