.header {
   padding: 22px 0;
   background-color: var(--color-white);

   &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
   }

   &__menu {
      margin-right: 115px;
   }
}

.logo {
   display: flex;
   align-items: center
}

.menu {
   &__list {
      display: flex;
      justify-content: center;
      list-style: none;
      gap: 40px;

   }

   &__link {
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.6;
   }
}

.connections {
   display: flex;
   align-items: center;
   column-gap: 36px;

   &__item {
      display: flex;
      flex-direction: column;
      background-repeat: no-repeat;
      padding-left: 52px;
      background-position: left;
      background-size: 40px 40px;

      &--phone {
         background-image: url(../assets/img/svg/iphone.svg);
      }

      &--email {
         background-image: url(../assets/img/svg/chat.svg);
      }
   }

   &__descr {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.5;
      color: var(--color-grey--900);

      &--title {
         font-weight: 700;
         font-size: 14px;
         line-height: 1.5;
         color: var(--color-grey--800);
      }
   }
}