.meta-info {
  --meta-col-gap: 24px;

  display: flex;
  // flex-wrap: wrap;
  column-gap: var(--meta-col-gap);
  align-items: center;

  &__item {
    position: relative;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: calc((-1) * var(--meta-col-gap) / 2);
        width: 1px;
        height: 12px;
        background-position: center;
        background-size: cover;
        background-color: var(--color-grey--700);
        transform: translateY(-50%);
      }
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--color-grey--900);
      outline-offset: 3px;
    }

    &:hover {
      color: var(--color-primary);
    }

    &--with-icon {
      display: flex;
      column-gap: 8px;
      align-items: center;
      transition: color 0.18s ease-in-out;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: currentcolor;
    object-fit: cover;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--color-grey--900);
      outline-offset: 3px;
    }

    &--large {
      width: 20px;
      height: 20px;
    }
  }

  &--city {
    padding-left: 24px;
    background-image: url("@img/bg/gps-grey.svg");
    background-position: left;
    background-size: 16px 16px;
    background-repeat: no-repeat;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--color-grey--900);
      outline-offset: 2px;
      border-radius: 1px;
    }
  }

  &--clock {
    padding-left: 24px;
    background-image: url("@img/bg/clock-grey.svg");
    background-position: left;
    background-size: 16px 16px;
    background-repeat: no-repeat;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--color-grey--900);
      outline-offset: 3px;
    }
  }
}
