.mission {
  &__section-title {
    margin-bottom: 24px;

    @media (max-width: 768px) {
      font-size: 36px;
    }
  }

  &__section-descr {
    margin-bottom: 60px;
  }

  &__features-list {
    margin-bottom: 25px;
  }

  &__form {
    position: relative;
    top: 95px;
    border-radius: 4px;
    padding: 48px 60px;
    box-shadow:
      0 80px 80px -20px rgb(154 156 165 / 8%),
      0 30px 24px -10px rgb(154 156 165 / 5%),
      0 12px 10px -6px rgb(154 156 165 / 4%),
      0 4px 4px -4px rgb(30 33 44 / 3%);
    background: #fff;

    @media (max-width: 768px) {
      top: 36px;
      padding: 0 0 40 px;
    }
  }

  &__form-actions {
    display: flex;
    column-gap: 24px;
    align-items: flex-end;

    @media (max-width: 1024px) {
      flex-flow: column wrap;
      row-gap: 24px;
      align-items: center;
      justify-content: center;
    }
  }

  &__form-title {
    margin-bottom: 32px;

    @media (max-width: 768px) {
      font-size: 20px;
    }

    @media (max-width: 480px) {
      font-size: 16px;
    }
  }

  &__form-field {
    flex-basis: auto;
    min-width: 260px;

    &--message {
      flex-grow: 1;
    }
  }
}
