.mission {
   padding-top: 60px;
   padding-bottom: 120px;
   background-color: var(--color-white);

   &__section-title {
      margin-bottom: 24px;
   }

      &__section-descr {
      margin-bottom: 60px;
   }
}
