.news-card {
   border-radius: 4px;
   box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
   background: #ffffff;

   &__meta {
      position: relative;
      display: grid;
      grid-template-columns: repeat(4, auto);
      column-gap: var(--grid-column-gap);
      align-items: start;
      justify-content: start;
      justify-items: start;
      margin-bottom: 16px;
      --grid-column-gap: 24px;

      ::after {
         content: "";
         position: absolute;
         top: 4px;
         left: 103px;
         width: 1px;
         height: 12px;
         background-image: url(../assets/img/svg/small-divider.svg);
         background-position: center;
         background-size: cover;
         background-repeat: no-repeat;

      }

      ::before {
         content: "";
         position: absolute;
         top: 4px;
         left: 216px;
         width: 1px;
         height: 12px;
         background-image: url(../assets/img/svg/small-divider.svg);
         background-position: center;
         background-size: cover;
         background-repeat: no-repeat;

      }

      &--small-right {
         position: relative;
         display: grid;
         grid-template-columns: repeat(4, auto);
         column-gap: var(--grid-column-gap);
         align-items: start;
         justify-content: start;
         justify-items: start;
         --grid-column-gap: 24px;

         ::after {
            content: "";
            position: absolute;
            top: 4px;
            left: 81px;
            width: 1px;
            height: 12px;
            background-image: url(../assets/img/svg/small-divider.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

         }

         ::before {
            content: "";
            position: absolute;
            top: 4px;
            left: 193px;
            width: 1px;
            height: 12px;
            background-image: url(../assets/img/svg/small-divider.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

         }
      }

      &--small {
         position: relative;
         display: grid;
         grid-template-columns: repeat(4, auto);
         column-gap: var(--grid-column-gap);
         align-items: start;
         justify-content: start;
         justify-items: start;
         --grid-column-gap: 24px;

         ::after {
            content: "";
            position: absolute;
            top: 4px;
            left: 109px;
            width: 1px;
            height: 12px;
            background-image: url(../assets/img/svg/small-divider.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

         }

         ::before {
            content: "";
            position: absolute;
            top: 4px;
            left: 249px;
            width: 1px;
            height: 12px;
            background-image: url(../assets/img/svg/small-divider.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

         }
      }
   }

   &__content {
      padding: 23px 24px 25px 24px;

      &--small {
         padding: 15px 24px 25px 24px;
      }
   }

   &__title {
      margin-bottom: 12px;

      &:hover {
         color: var(--color-primary);
      }
   }

   &__comment {
      display: grid;
      grid-template-columns: repeat(2, auto);
      column-gap: var(--grid-column-gap);
      align-items: start;
      justify-content: start;
      justify-items: start;
      --grid-column-gap: 8px;
   }
}
