.news-article {
  --content-pt: 24px;
  --content-pr: 24px;
  --content-pb: 25px;
  --content-pl: 24px;
  --heading-offset-down: 13px;
  --descr-display: block;
  --logo-height: 306px;

  overflow: hidden;
  max-width: 705px;
  border-radius: 4px;
  box-shadow: var(--main-shadow);
  background-color: var(--color-white);

  &__small {
    --heading-offset-down: 8px;
    --descr-display: none;
    --content-pt: 16px;
    --content-pb: 24px;
    --logo-height: 156px;
  }

  &__large {
    --content-pb: 25px;
    --logo-height: 360px;

    @media (max-width: 1200px) {
      --logo-height: 156px;
    }
  }

  &__logo {
    width: 100%;
    height: var(--logo-height);
  }

  &__logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__content {
    padding:
      var(--content-pt)
      var(--content-pr)
      var(--content-pb)
      var(--content-pl);
  }

  &__heading {
    margin-bottom: var(--heading-offset-down);
    transition:
      color 0.18s ease-in-out,
      outline 0.05s linear;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 3px solid var(--color-grey--900);
      outline-offset: 4px;
    }

    &:hover {
      color: var(--color-primary);
    }
  }

  &__descr {
    display: var(--descr-display);
    margin-top: 16px;
  }
}
