.categories {
  padding: 120px 180px;

  &__title {
    margin-bottom: 40px;
  }

  &__news-list {
    row-gap: 55px;
  }
}

.categories-nav {
  display: flex;
  align-items: center;
  margin-bottom: 57.5px;

  &__item {
    flex: 0 0 205px;
  }

  &__btn {
    width: 100%;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 3;
    text-align: center;
    color: #9a9ca5;
    background: transparent;
    transition: 0.2s all ease;

    &:focus {
      outline: none;
      border: none;
    }

    &:focus-visible {
      margin-top: 8px;
      outline: 1px solid var(--color-primary-state);
      outline-offset: 1px;
      border-radius: 4px;
      transform: translateX(-19px);
    }

    &:hover {
      color: var(--color-grey--800);
    }

    &:active {
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
    }
  }
}

.pagination-nav {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 47px;
  padding-top: 47px;

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    color: var(--grey-800);
    transform: translateX(12px);

    &:focus {
      outline: none;
      border: none;
    }

    &:focus-visible {
      margin-top: 8px;
      outline: 1px solid var(--color-primary-state);
      outline-offset: 1px;
      border-radius: 4px;
      transform: translateX(-19px);
    }

    &:hover {
      color: var(--color-grey--600);
    }

    &:active {
      color: var(--color-primary);
    }
  }

  &__item {
    &--next-btn {
      margin-left: 3px;
    }
  }
}