.news {
  &__section-title {
    margin-bottom: 60px;
  }

  &__more-info {
    padding-top: 80px;
  }
}

.news-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;

  &__item {
    grid-column: 6 span;
  }

  &__item--small {
    grid-column: 5 span;
  }

  &__item--large {
    grid-column: 7 span;
    grid-row: 2 span;
  }
}
