.portfolio {

  &__header {
    position: relative;
    margin-bottom: 60px;
    padding-right: 124px;
  }

  &__title {
    max-width: 705px;
  }

  &__slider-nav {
    position: absolute;
    right: -13px;
    bottom: -13px;
  }

  &__project-slider {
    &__btn {
      display: grid;
      justify-content: center;
      padding-top: 28px;
      padding-bottom: 24px;
    }
  }

  &__more-info {
    padding-top: 80px;
  }
}

.portfolio-projects {
  &__btn {
    display: grid;
    justify-content: center;
    padding-top: 28px;
    padding-bottom: 24px;
  }
  &__descr {
  transform: translateY(3px);
  }
}
