.portfolio {
   padding-top: var(--section-offset);
   padding-bottom: 120px;
   background-color: var(--bg-color-grey--200);
   position: relative;

   &__header {
      padding-right: 124px;
      margin-bottom: 60px;
      position: relative;
   }

   &__title {
      max-width: 705px;
   }

   &__slider-nav {
      position: absolute;
      right: -13px;
      bottom: -13px;
   }

   &__project-slider {
      &__btn {
         display: grid;
         justify-content: center;
         padding-top: 28px;
         padding-bottom: 24px;
      }
   }
}

.portfolio-view {
   display: flex;
   flex-direction: row;
   column-gap: 40px;
   align-items: center;
   justify-content: center;
   padding-top: 80px;
}
   .portfolio-list {

      &__btn {
         display: grid;
         justify-content: center;
         padding-top: 28px;
         padding-bottom: 24px;
      }
   }