.pricing {
  padding-top: 80px;
  padding-bottom: 120px;
  background: var(--bg-color-grey--200);

  &__title {
    margin-bottom: 24px;
  }

  &__text-descr {
    margin-bottom: 60px;
  }
}

.pricing-table {
  th {
    background: var(--color-white);
  }

  &__item {
    padding: 16px 0px 16px 24px;
  }

  tr:nth-child(odd) {
    background: var(--bg-color-grey--200);
  }

  tr:nth-child(even) {
    background: var(--color-white);
  }

  &__item-title {
    padding: 70px 422px 24px 24px;
  }

  &__heading {
    padding: 0px 42px 0px 24px;
  }

  &__mark {
    width: 24px;
    height: 16px;
    fill: var(--color-primary);
  }

  &__footer {
    tr {
      background: var(--color-white);
    }
  }
}
