.pricing {
  padding-top: 80px;
  padding-bottom: 120px;
  background: var(--bg-color-grey--200);

  &__title {
    margin-bottom: 24px;
  }

  &__text-descr {
    margin-bottom: 60px;
  }
}

table {
  width: 100%;
  border: 1px solid var(--color-grey--300);
  border-radius: 4px;
  // box-shadow: 4px rgba(154, 156, 165, 0.08);
}

.pricing-table {
  th {
    background: var(--color-white);
  }
  &__item {
    padding: 16px 0px 16px 24px;
  }
  tr:nth-child(odd) {
    background: var(--bg-color-grey--200);
  }
  tr:nth-child(even) {
    background: var(--color-white);
  }
  &__item-title {
    padding: 70px 422px 24px 24px;
  }
  &__heading {
    padding: 9px 42px 0 42px;
  }
  &__text-descr {
    padding-left: 76px;
  }
  td:not(:first-child) {
    padding-left: 111px;
  }
  &__mark {
    width: 24px;
    height: 16px;
    fill: var(--color-primary);
  }
  &__footer {
    td {
      padding: 32px 100px 32px 0px;
      text-align: center;
      background: var(--color-white);
    }
  }
}
