.projects-slider {
  --grid-column-gap: 30px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--grid-column-gap);
  justify-items: center;
  background-color: var(--color-white);

  &__item {
    max-width: 390px;
  }

  &__img {
    padding-bottom: 16px;
  }

  &__btn {
    position: absolute;
    top: 50%;
    right: 100px;
    bottom: 100px;
    left: 50%;

    &--play {
      top: 50%;
      right: 100px;
      bottom: 100px;
      left: 50%;
    }
  }

  &--finger {
    height: 345px;
  }

  &--cubes {
    height: 277px;
  }

  &--pencil {
    height: 345px;
  }
}
