.portfolio-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 390px);
  gap: 30px;
  justify-content: center;

  &__btn {
    position: absolute;
    top: 50%;
    right: 100px;
    bottom: 100px;
    left: 50%;

    &--play {
      top: 50%;
      right: 100px;
      bottom: 100px;
      left: 50%;
    }
  }

  &--work {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-items: center;
  }
}
