.portfolio-list {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--grid-column-gap);
  justify-items: center;
  background-color: var(--color-white);
  --grid-column-gap: 30px;
  overflow: hidden;
  max-height: 440px;

  &__btn {
    position: absolute;
    top: 50%;
    right: 100px;
    bottom: 100px;
    left: 50%;

    &--play {
      top: 50%;
      right: 100px;
      bottom: 100px;
      left: 50%;
    }
  }
}
