.review-block {
  --grid-column-gap: 135px;

  position: relative;
  display: grid;
  grid-template-columns: minmax(min-content, 600px) minmax(min-content, 495px);
  column-gap: var(--grid-column-gap);
  padding-top: 180px;
  padding-bottom: 96px;

  &__content {
    position: relative;
    margin-bottom: 26px;
  }

  &__slider-nav {
    position: absolute;
    bottom: 109px;
    left: 515px;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__img {
    margin-bottom: 24px;
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: -58px;
  }
}
