.our-service {

  &__title {
    margin-bottom: 24px;
  }

  &__descr {
    margin-bottom: 60px;
  }

  &__activities-list {
    gap: 30px;
    margin-bottom: 77px;
  }

  &__activity-card {
    row-gap: 24px;
    border: 1px solid #e5e8ed;
    padding: 89px 20px 90px;

    .activity-card__icon {
      transition: all 0.1s ease;
    }

    .activity-card__title {
      transition: all 0.3s ease;
    }

    &__view {
      column-gap: 40px;
      padding-top: 0;
    }
  }
}
