.our-service {
   padding-top: 212px;
   padding-bottom: 80px;
   background-color: var(--color-grey--300);

   &__title {
      margin-bottom: 24px;
   }

   &__descr {
      margin-bottom: 60px;
   }

   &__activities-list {
      gap: 30px;
      margin-bottom: 77px;
   }

   &__activity-card {
      row-gap: 24px;
      padding: 89px 20px 90px;
      border: 1px solid #E5E8ED;

      .activity-card__icon {
         transition: all 0.1s ease;
      }

      .activity-card__title {
         transition: all 0.3s ease;
      }

      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         opacity: 0;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         background-image: url("../../assets/img/bg/ic-pantone.png");
         transition: all 0.3s ease;
      }

      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         opacity: 0;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         background-color: rgba($color: #1e212c, $alpha: 0.6);
      }

      &:hover {
         .activity-card__icon {
            fill: var(--color-white);
         }

         .activity-card__title {
            color: var(--color-white);
         }

         &::before {
            opacity: 1;
         }

         &::after {
            opacity: 1;
         }
      }
   }
}

.activities-view {
   display: flex;
   flex-direction: row;
   column-gap: 55px;
   align-items: center;
   justify-content: center;
}