.page-title {
   --page--title-color: var(--color-grey--900);
   font-weight: 700;
   font-size: 72px;
   line-height: 1.3;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: var(--page--title-color);

   &--home {
      color: var(--color-white);
   }

   &--marked {
      color: var(--color-primary);
   }
}

.section-title {
   font-style: normal;
   font-weight: 700;
   font-size: 46px;
   line-height: 1.3;
   color: var(--color-grey--900);

   &--center {
      text-align: center;
   }

   // &--item {
   //    font-size: 20px;
   //    line-height: 1.5;
   // }
}

// .form-title {
//    font-weight: 700;
//    font-size: 28px;
//    line-height: 1.5;
// }
.block-heading {
   --block-title-main-color: var(--color-grey--900);

   font-weight: 700;
   font-size: 32px;
   line-height: 1.5;
   color: var(--block-title-main-color);

   &--center {
      text-align: center;
   }

   &--regular {
      font-size: 28px;
   }

   &--small {
      font-size: 20px;
   }

   &--primary {
      color: var(--color-primary);
   }
}