.work-portfolio {
  padding-top: 59px;
  padding-bottom: 100px;

  &__activities-list {
    position: relative;
    top: -119px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }

  &__activity-card {
    row-gap: 16px;
    border: 1px solid #e5e8ed;
    padding: 32px;

    .activity-card__icon {
      transition: all 0.1s ease;
    }

    .activity-card__title {
      transition: all 0.3s ease;
    }
  }
}

.load-more {
  display: flex;
  column-gap: 16px;
  align-items: center;
  justify-content: center;
  padding-top: 61.65px;
}
