.work-portfolio {
  padding-top: 57px;
  padding-bottom: 97px;

  &__activities-list {
    position: relative;
    top: -119px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }

  &__activity-card {
    row-gap: 16px;
    border: 1px solid #e5e8ed;
    padding: 32px;

    .activity-card__icon {
      transition: all 0.1s ease;
    }

    .activity-card__title {
      transition: all 0.3s ease;
    }
  }
}

ul {
  margin-bottom: 30px;
}

.load-more {
  display: flex;
  column-gap: 16px;
  align-items: center;
  justify-content: center;
  padding-top: 61.65px;

  &__link {
  }

  &__img {
  }
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 451px;
  padding-bottom: 24px;

  &__top {
    overflow: hidden;
    height: 354px;
  }

  &__bottom {
    overflow: hidden;
    // height: 36px;
    margin-bottom: -90px;
  }

  &__img {
    width: 100%;
    height: 100%;
    margin-bottom: 16px;
  }

  &__heading {
    margin-bottom: 4px;
  }

  &__text-descr {
    margin-bottom: 24px;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &:hover {
    &__top {
      overflow: hidden;
      height: 284px;
      margin-bottom: -70px;
      transition: 0.3s all ease-in-out;
      cursor: pointer;
    }

    &__bottom {
      height: 167px;
      margin-bottom: 0px;
    }
  }
}