.comment-section {
  padding: 120px 180px;

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
  }

  .comment-form {
    grid-column: 3 / 11;
    justify-items: center;

    &__title {
      margin-bottom: 38px;
    }

    &__actions {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      column-gap: 30px;
    }

    &__field {
      padding: 11px 0;

      &--message {
        grid-column: 1 / -1;
        margin-bottom: 36px;
      }
    }

    &__btn {
      grid-column: 3 / 7;
      justify-items: center;
      margin-bottom: 60px;
    }

    &__name,
    &__mail {
      grid-column: span 4;
      justify-items: center;
    }
  }

  &__field {
    &--message {
    }
  }

  &__caption {
  }
}

.contacts {
  &__section-title {
  }

  &__form {
  }

  &__input {
    &--message {
    }
  }
}

.form-field {
  &__caption {
  }
}
