.post-article {
  padding: 80px 180px;

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
  }

  &__img-wrapper {
    grid-column: 1 / -1;
    margin-top: -201px;
    margin-bottom: 80px;
  }

  &__content {
    grid-column: 3 / 11;
    justify-items: start;
  }
}

.quote-block {
  &__large-descr {
    margin-bottom: 24px;
  }

  &__decisions-list {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  &__inner {
    display: flex;
    column-gap: 30px;
    align-items: flex-start;
    margin-bottom: 27px;
  }

  &__social {
    display: flex;
    column-gap: 12px;
    margin-top: 63px;
  }
}
