:root {
   --bg-color-grey--200: #F4F5F6;
   --color-grey--300: #e5e8ed;
   --color-grey--400: #d7dadd;
   --color-grey--600: #9A9CA5;
   --color-grey--700: #787A80;
   --color-grey--800: #424551;
   --color-grey--900: #1E212C;
   --color-primary: #FF5A30;
   --color-primary-state: #FC3300;
   --color-white: #FFFFFF;
   --color-white--e5: #E5E5E5;
   --color-black: #000000;

   --section-offset: 120px;
}
